:root {
  --bg-gradient-start: #001f3f;
  --bg-gradient-end: #083344;
  --menu-bg: #1e555c;
  --menu-link-bg: rgba(0, 18, 32, 0.9);
  --menu-link-border: #b4924a;
  --menu-link-color: #e8e9eb;
  --menu-link-hover: red;
}

/* BODY */
body {
  background: linear-gradient(
    180deg,
    var(--bg-gradient-start) 0%,
    var(--bg-gradient-end) 100%
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--menu-link-color);
  font-family: sans-serif;
  backdrop-filter: blur(10px);
  margin: 0;
}

/* HEADER */
header {
  flex: 0 0 auto;
  width: 100%;
}

/* MAIN */
main {
  flex: 1 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

/* FOOTER */
footer {
  flex: 0 0 auto;
  width: 100%;
  min-height: 25vh;
  background-color: #000b14;
  padding: 2rem 0;
  border-top: 1px solid var(--menu-bg);
  margin-top: auto;
}

.footer-logo {
  /* ELEMENTOS VISUAIS */
  background-color: rgb(53, 43, 76);
  padding: 10px;
  border-radius: 8px;
  border: 2px solid rgb(73, 61, 100);
  max-width: 150px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ANIMAÇÃO DO LOGO */
.interactive-circle-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.spinning-logo {
  max-height: 400px;
  width: 100%;
  max-width: 400px;
  animation: float 6s ease-in-out infinite;
  filter: drop-shadow(0 0 15px rgba(0, 255, 255, 0.3));
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Responsividade */
@media (max-width: 768px) {
  h1.display-4 {
    font-size: 2.5rem;
  }

  .text-content {
    text-align: center;
    align-items: center;
    padding: 1rem !important;
  }

  .spinning-logo {
    max-height: 250px;
    margin-top: 2rem;
  }

  footer {
    text-align: center;
  }
}
